.pillars{
	padding-top: 45px;
	padding-bottom: 45px;
	color: $white;
	background-color: $red;
	background-color: $red;
  background-image: url('../images/home-sponsors.jpg');
  background-size: cover;

	#pillars-title{
		padding-bottom:45px;
		margin-left: 25px;
	}

	.pillar{
		position: relative;
		height: auto;
		padding: 25px;

	}
	h5{
		text-align: center;
		img{
			width: 110px;
			height: 112px;
		}
	}

	p{
		color: $white;
	}
}
