.pillars{
	padding-top: 118px;
	padding-bottom: 125px;
	color: $white;
	background-color: $red;
	background-color: $red;
    background-image: url('../images/home-sponsors.jpg');
    background-size: cover;

	#pillars-title{
		padding-bottom:90px;
		margin-left: 25px;
	}

	.pillar{
		position: relative;
		height: 540px;
		padding: 25px;

	}
	h5{
		text-align: center;
		img{
			width: 110px;
			height: 112px;
		}
	}

	p{
		color: $white;
	}
}