.pillars{
	padding-top: 118px;
	padding-bottom: 125px;
	color: $white;
	background-color: $red;
	background-color: $red;
    background-image: url('../images/home-sponsors.jpg');
    background-size: cover;

	#pillars-title{
		padding-bottom:90px;
		margin-left: 25px;
	}

	.pillar{
		position: relative;
		height: 550px;
		padding: 25px;

	}


	p{
		color: $white;
	}
}