.sponsors{
	padding-top: 50px;
	padding-bottom: 50px;
	color: $white;

	#sponsors-title{
		padding-bottom:45px;
	}

	.sponsor{
		position: relative;
		height: 600px;
		padding: 25px;

		p{
			color: $white;

		}
		img{
			text-align: center;
		}
	
		//padding-right: 20px;

		.button{
			position: absolute;
			padding-left: inherit;
	        padding-right: inherit;
	        bottom: 0px;
	        left: 0;
	        right: 0;
	        width: 225px;
		}
	}

}