.sponsors{
	padding-top: 50px;
	padding-bottom: 50px;
	color: $white;

	#sponsors-title{
		padding-bottom:45px;
	}

	.sponsor{
		position: relative;
		height: auto;
		padding: 25px;

		p{
			color: $white;

		}
		img{
			text-align: center;
		}
		.rich-text{
			padding-bottom: 40px;
		}

		.button{
			position: absolute;
			padding-left: inherit;
	        padding-right: inherit;
	        bottom: 0px;
	        left: 0;
	        right: 0;
	        width: 225px;
		}
	}

	@media (max-width: $small) {
		.sponsor{
			height: auto;
			.button{
				width: 91%;
			}
		}
	}
	@media (max-width: $medium) {
		.sponsor{
			height: 600px;
			.button{
				width: 91%;
			}
		}
	}
}
