body {
    font-family: 'Open Sans', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif !important;
}

h3{
    line-height: 1.2;
}

#main{
    padding-top: 50px;
}


/* text */
p{
    color: $black;
}

sup{
    top: -0.6em;
    font-size: 15px;
}


/* text helpers */

.white-line {
    position: relative;
    margin-bottom: 35px;
    &:after {
        content: "";
        position: absolute;
        width: 50px;
        bottom: -25px;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 4px solid $white;
        z-index: 1;
    }
}

.red-line {
    position: relative;
    margin-bottom: 35px;
    &:after {
        content: "";
        position: absolute;
        width: 50px;
        bottom: -25px;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 4px solid $red;
        z-index: 1;
    }
}

.line {
    box-sizing: border-box;
    height: 2.13px;
    width: 460px;
    border: 1px solid #979797;
}




//Borders
.border-right{
    border-right: 1px solid rgba(255,255,255,0.5);

}

.border-left{
    border-left: 1px solid rgba(255,255,255,0.5);
}



//grid helpers
.full-height{
    height: 100%;
}



//spacing
.header-title{
    margin-bottom: 90px;
}



/** text helpers */
.bold{
    font-weight: bold;
}



/**  Colors */
.red{
    color: $red;
}