{% extends "base.html" %}

{% load nav_tags static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-403{% endblock %}

{%block menu%}
{% endblock %}

{% block content%}
	
	
    <div class="row">
        <div class="small-12 columns">

            <h2 class="bold white-line">403 Forbidden</h2>
            <h3>An authentication error occured, please try refreshing you browser and trying again.</h3>
        </div>
    </div>

{% endblock %}
 

{% block footer %}
{% endblock %}    