{% extends "base.html" %}

{% load nav_tags static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-500{% endblock %}

{%block menu%}
{% endblock %}

{% block content%}
	
	<script>
		window.location.replace("/404");
	</script>

    
    <div class="row">
        <div class="small-12 columns">

            <h2 class="bold white-line">500 Server Error</h2>
            <h3>Something went wrong</h3>
        </div>
    </div>

{% endblock %}
 

{% block footer %}
{% endblock %}    