{% load nav_tags static wagtailuserbar %}

{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load wagtailsettings_tags %}
{% load sass_tags %}
{% load raven %}

{% load static %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- BASIC INFO -->
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %} | SPIRE</title>
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "images/icons/apple-touch-icon-57x57.png" %}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "images/icons/apple-touch-icon-114x114.png" %}"  />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "images/icons/apple-touch-icon-72x72.png" %}"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "images/icons/apple-touch-icon-144x144.png" %}"  />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "images/icons/apple-touch-icon-60x60.png" %}"  />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "images/icons/apple-touch-icon-120x120.png" %}"  />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "images/icons/apple-touch-icon-76x76.png" %}"  />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "images/icons/apple-touch-icon-152x152.png" %}"  />
        <link rel="icon" type="image/png" href="{% static "images/icons/favicon-196x196.png" %}"  sizes="196x196" />
        <link rel="icon" type="image/png" href="{% static "images/icons/favicon-96x96.png" %}"  sizes="96x96" />
        <link rel="icon" type="image/png" href="{% static "images/icons/favicon-32x32.png" %}"  sizes="32x32" />
        <link rel="icon" type="image/png" href="{% static "images/icons/favicon-16x16.png" %}"  sizes="16x16" />
        <link rel="icon" type="image/png" href="{% static "images/icons/favicon-128.png" %}"  sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{% static "images/icons/mstile-144x144.png" %}"  />
        <meta name="msapplication-square70x70logo" content="{% static "images/icons/mstile-70x70.png" %}"  />
        <meta name="msapplication-square150x150logo" content="{% static "images/icons/mstile-150x150.png" %}"  />
        <meta name="msapplication-wide310x150logo" content="{% static "images/icons/mstile-310x150.png" %}"  />
        <meta name="msapplication-square310x310logo" content="{% static "images/icons/mstile-310x310.png" %}"  />

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static "css/foundation.css" %}">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

        <!-- normalize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" integrity="sha256-t2/7smZfgrST4FS1DT0bs/KotCM74XlcqZN5Vu7xlrw=" crossorigin="anonymous" />

        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

        <!-- plugin styles -->
         <link rel="stylesheet" href="{% static "css/jquery.fancybox.css" %}">
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

        <link href="{% sass_src 'sass/style.scss' %}" rel="stylesheet" type="text/css" />

         <script src="https://js.stripe.com/v3/"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-102916002-1', 'auto');
            ga('send', 'pageview');
        </script>
        
    </head>
    <body class="">

        <div class="expanded row">
            <div class="announcment text-center bold">
                We’re proud to launch the beta version of SPIRE’s new website. If you experience difficulties, let us know via the <a href="/about/contact-us/">Contact Us page.</a>
            </div>
        </div>

        {% block menu %}
            {% top_menu calling_page=self%}
        {% endblock %}


        {% if messages %}
        <div class="row notifications">
            <div class="small-12 columns">
                {% for message in messages %}
                <p {% if message.tags %} class="callout {{ message.tags }} alert "{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}



        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="main" class="{% block body_class %}{% endblock %} container">
            {% block content %}{% endblock %}
        </div>



        {% block footer %}
        <footer>
            <div class="row stay">
                <div class="small-12 columns">
                    <h4 class="bold">Stay in Touch with SPIRE</h4>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-12 columns">
                        <a class="icon" href="{{ settings.spiresite.SocialMediaSettings.facebook }}"><span class="fa fa-facebook"></span></a>
                        <a class="icon" href="{{ settings.spiresite.SocialMediaSettings.twitter }}"><span class="fa fa-twitter"></span></a>
                        <a class="icon" href="{{ settings.spiresite.SocialMediaSettings.linkedin}}"><span class="fa fa-linkedin"></span></a>
                        <a class="icon" href="{{ settings.spiresite.SocialMediaSettings.instagram }}"><span class="fa fa-instagram"></span></a>
                </div>

            </div>
            <div class="row stay" style="margin-top: 30px;">
              <div class="small-3 columns">
              </div>
                <div class="small-3 small-offset-3 columns">
                    <h6 class="bold red">Founding Core Sponsor</h6>
                </div>
                <div class="small-3 columns" style="margin-left:38px">
                    <h6 class="bold red">Core Sponsor</h6>
                </div>
                <div class="small-3 columns">

                </div>
            </div>
            <div class="row founding">
                <div class="small-12 columns" id="footer-sponsors">

                    <div class="small-3 columns">
                    </div>
                      <div class="small-3 small-offset-3 columns">
                          <a target="_blank" href="http://www.allenmatkins.com/">
                            <img src="{% static "images/logos/logo_allenmatkins.jpg" %}" alt="Allen Matkins"/>
                          </a>
                      </div>
                      <div class="small-3 columns" style="margin-left:38px">
                          <a target="_blank" href="https://aeiconsultants.com/">
                            <img src="{% static "images/logos/logo_aei.jpg" %}" alt="Allen Matkins"/>
                          </a>
                      </div>
                      <div class="small-3 columns">

                      </div>
                </div>
            </div>
             <div class="row ">
                <div class="small-12 text-center columns" id="footer-terms">
                    <a class="red" href="/terms-conditions/">Terms &amp; Conditions</a> | <a class="red" href="/privacy-policy/">Privacy Policy</a>
                </div>
            </div>
        </footer>
       
        {% endblock %}

        <!-- jquery -->
        <script src="{% static "js/what-input.js" %}"></script>
        <script src="{% static "js/foundation.min.js" %}"></script>
        <script src="{% static "js/jquery.fancybox.js" %}"></script>
        <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
        <!--<script>Raven.config('https://6255be8f3ff84af6a4c1d10f01d1f025@sentry.io/193628').install();</script>-->
        <script src="{% static "js/ofi.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>


        <script>
        $( document ).ready(function() {
            $(document).foundation();
            AOS.init();
            objectFitImages();
        });

        </script>

        <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
        <script src="{% static "js/jquery.addressfield.js" %}"></script>
        <script src="{% static "js/jquery.formset.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>


        {% block javascript %}{% endblock %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>



    </body>
</html>
