{% extends "base.html" %}

{% load nav_tags static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-event-detail{% endblock %}

{% block title %}{{event.title}}{% endblock %}

{% block content %}


<section class="page-header">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="red-line">{{event}}</h2>
		</div>
	</div>

</section>

{% if event.registration_open %}
<section class="pricing">
	<div class="row">
		<div class="small-12 columns">

		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<table class="table">
					{% if registered %}
						<td><h4>You are Registered to attend this event<h4></td>

					{% elif price %}
						<thead>
							<tr>
								<th>Event Registration</th>
								<th>Price</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						<tr>
							<td>{{price.level}}</td>
							<td width="250">${{price.event_price}}</td>
							<td width=250><a href="{% url 'checkout:event-add'%}?event={{event.id}}" class="button button-red expanded">Register for Event</a></td>
						</tr>
					{% else %}
						<thead>
							<tr>
								<th>Event Registration</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% if user.is_authenticated %}
								<tr>
									<td>You do not have access to register for this event, Please upgrade your membership if you would like to attend</td>
									<td width="250"></td>
									<td width=250><a href="/members-directory/membership/" class="button button-red expanded">Upgrade Membership</a></td>
								</tr>
								<tr>
									<td>Purchase our event/membership combo</td>
									<td width="250"></td>
									<td width=250><a href="{% url 'checkout:combo-add'%}?event={{event.id}}" class="button button-red expanded">Event + Membership</a></td>
								</tr>
							{% else %}
								<tr>
									<td>Please login to view pricing and register for this event</td>
									<td width="250"></td>
									<td width=250><a href="{% url 'login'%}" class="button button-red expanded">Login</a></td>
								</tr>
							{% endif %}

					{% endif %}
				</tbody>
			</table>

		</div>
	</div>
</section>
{% endif %}

<section class="event-details">
	<div class="background"></div>
	<div class="row">
		<div class="small-12 columns">
			{% image event.image height-600 class="event-image cover" %}
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">


			<div class="event-details__location">
				<div id="map"></div>
				<div class="text">
					<h5 class="bold">Location</h5>
					<p>{{event.address}}</p>
					<h5 class="bold">Date and Time</h5>
					<p>{{event.start|date:'l, F j Y - f A'}}</p>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="event-details__text">
				<h3 class="red-line bold">Event Details</h3>
				{{event.description|richtext}}
			</div>
		</div>
	</div>

</section>

<script>

      function initMap() {

      	var lat = {{event.lat}}
      	var lng = {{event.lng}}

        var uluru = {lat: lat, lng: lng};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuAQVs-4VRFdR1-9s94H_CxmMr2QLiYpM&callback=initMap">
    </script>




{% endblock %}
