{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
<section class="gallery">
	<div class="row">
		<div class="small-12 columns">

			<div id="" class="slider" >
				 {% for slide in value.images %}

			     <div >
			     	<a href="image.jpg" data-fancybox data-caption="My caption">
						{% image slide.image fill-400x260 class="orbit-image" %}
					</a>
			    </div>
			    {% endfor %}

			</div>

		</div>
	</div>
	<div class="row">
		<div class="small-12 columns text-center">
		<h5 class="bold caption">{{value.caption}}</h5>
		</div>
	</div>
</section>
