{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
<section class="page-content">
	<div class="row">
		<div class="small-12 medium-7 columns">
			{{value.text|richtext}}
		</div>
		<div class="small-12 medium-5 columns upcoming-event">
			<div class="upcoming-event__content">
				<h3 style="color:#FFF;" class="white-line white">Upcoming Event</h3>
				{{value.event|richtext}}
				<a href="http://realsymposium.org/" class="button button-white expanded">Register Now</a>
			</div>
		</div>
	</div>
</section>
