@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important; }

h3 {
  line-height: 1.2; }

#main {
  padding-top: 50px; }

.tabs-title > a {
  color: #891B0D; }

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  color: #891B0D; }

/* text */
p {
  color: #333333; }

sup {
  top: -0.6em;
  font-size: 15px; }

/* text helpers */
.white-line {
  position: relative;
  margin-bottom: 35px; }
  .white-line:after {
    content: "";
    position: absolute;
    width: 50px;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 4px solid #FFF;
    z-index: 1; }

.red-line, .body-content h1, .body-content h2, .body-content h3, .body-content h4 {
  position: relative;
  margin-bottom: 35px; }
  .red-line:after, .body-content h1:after, .body-content h2:after, .body-content h3:after, .body-content h4:after {
    content: "";
    position: absolute;
    width: 50px;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 4px solid #891B0D;
    z-index: 1; }

.line {
  box-sizing: border-box;
  height: 2.13px;
  width: 460px;
  border: 1px solid #979797; }

.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.5); }

.border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.5); }

.full-height {
  height: 100%; }

.header-title {
  margin-bottom: 45px; }

/** text helpers */
.bold {
  font-weight: bold; }

/**  Colors */
.red {
  color: #891B0D; }

.black {
  color: #333333; }

.title {
  margin-bottom: 45px; }

.red-backround {
  background-color: #891B0D; }

/** tables */
table a {
  color: #891B0D table a; }
  table a :hover {
    color: #571511; }

/** add remove rows for formsets */
.delete-row {
  color: #891B0D;
  padding-left: 20px; }

.add-row {
  color: #891B0D;
  padding-left: 5px; }

@media (max-width: 39.9375em) {
  .srec-header img {
    padding-bottom: 20px; } }

.notifications {
  margin-top: 20px; }

.cover {
  object-fit: cover;
  font-family: 'object-fit: cover;'; }

h4 {
  line-height: 30px; }

.body-content a {
  color: #891B0D; }
  .body-content a:hover, .body-content a:focus {
    color: #571511; }

.sponsors {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #FFF; }
  .sponsors #sponsors-title {
    padding-bottom: 45px; }
  .sponsors .sponsor {
    position: relative;
    height: auto;
    padding: 25px; }
    .sponsors .sponsor p {
      color: #FFF; }
    .sponsors .sponsor img {
      text-align: center; }
    .sponsors .sponsor .rich-text {
      padding-bottom: 40px; }
    .sponsors .sponsor .button {
      position: absolute;
      padding-left: inherit;
      padding-right: inherit;
      bottom: 0px;
      left: 0;
      right: 0;
      width: 225px; }
  @media (max-width: 39.9375em) {
    .sponsors .sponsor {
      height: auto; }
      .sponsors .sponsor .button {
        width: 91%; } }
  @media (max-width: 63.9375em) {
    .sponsors .sponsor {
      height: 600px; }
      .sponsors .sponsor .button {
        width: 91%; } }

.join-spire {
  padding-top: 120px;
  padding-bottom: 120px; }

.contact-us {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F3F3F3; }

.pillars {
  padding-top: 45px;
  padding-bottom: 45px;
  color: #FFF;
  background-color: #891B0D;
  background-color: #891B0D;
  background-image: url("../images/home-sponsors.jpg");
  background-size: cover; }
  .pillars #pillars-title {
    padding-bottom: 45px;
    margin-left: 25px; }
  .pillars .pillar {
    position: relative;
    height: 350px;
    padding: 25px; }
  .pillars h5 {
    text-align: center; }
    .pillars h5 img {
      width: 110px;
      height: 112px; }
  .pillars p {
    color: #FFF; }

.srec-members {
  height: 100%;
  margin-top: 100px; }
  .srec-members #members-row {
    background-color: #434750; }
  .srec-members .column-block {
    margin-top: -50px;
    padding-top: 25px;
    padding-bottom: 25px; }
  .srec-members .member {
    text-align: center;
    background-color: #FFF;
    padding-bottom: 15px; }
    .srec-members .member .member__info {
      padding: 20px; }
      .srec-members .member .member__info p {
        margin-bottom: 0px; }

.page-header {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 40px; }

.current-inductees {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden; }
  .current-inductees .background {
    position: absolute;
    background-color: #F3F3F3;
    top: 250px;
    left: 0;
    height: 100%;
    width: 100%; }

.top-bar {
  height: 88px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #FFF;
  z-index: 99999; }
  .top-bar .top-bar-left,
  .top-bar .top-bar-right,
  .top-bar ul {
    background-color: #FFF; }
  .top-bar .top-bar-left .menu-text {
    padding: 0; }
  .top-bar .top-bar-left .navbar-brand {
    padding: 6px 0 0;
    width: 120px;
    height: 88px; }
  .top-bar .top-bar-left {
    width: 80%;
    height: 100%; }
    .top-bar .top-bar-left .menu {
      height: 100%; }
  .top-bar .top-bar-right {
    width: 20%;
    height: 88px; }
    .top-bar .top-bar-right .nav-item {
      padding-top: 24px;
      float: right; }
      .top-bar .top-bar-right .nav-item a {
        line-height: 1.25; }
      .top-bar .top-bar-right .nav-item:hover {
        background-color: transparent; }
        .top-bar .top-bar-right .nav-item:hover a {
          color: #571511;
          text-decoration: none; }
      .top-bar .top-bar-right .nav-item.join {
        background-color: #891B0D;
        padding-bottom: 23px; }
        .top-bar .top-bar-right .nav-item.join a {
          color: #FFF; }
  .top-bar .nav-item a {
    font-weight: bold;
    font-size: 16px;
    color: #891B0D;
    line-height: 1.2; }
  .top-bar .nav-item:hover {
    background-color: #891B0D; }
    .top-bar .nav-item:hover a {
      color: #FFF; }
  .top-bar .menu li {
    text-align: center; }
  .top-bar .menu .active,
  .top-bar .menu .active > a {
    background: #891B0D;
    color: #FFF; }
  .top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    display: none; }
  .top-bar .menu.submenu {
    background-color: #891B0D;
    border: none;
    height: auto; }
    .top-bar .menu.submenu ul {
      border: none; }
    .top-bar .menu.submenu li {
      color: #FFF;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left; }
      .top-bar .menu.submenu li a {
        font-weight: normal;
        font-size: 16px;
        color: #FFF;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.25; }
      .top-bar .menu.submenu li:hover {
        background-color: #571511; }
  .top-bar .dropdown.menu > li.opens-right > .is-dropdown-submenu {
    width: 300px; }
  .top-bar .is-dropdown-submenu a {
    color: #FFF; }
  .top-bar .is-dropdown-submenu .white {
    color: #FFF !important; }

@media (max-width: 39.9375em) {
  .title-bar {
    background-color: #FFF;
    border-bottom: 1px solid #891B0D; }
    .title-bar .menu-icon {
      float: right;
      margin-top: 14px; }
    .title-bar .title-bar-title img {
      width: 60px; }
    .title-bar .menu-icon::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: #891B0D;
      box-shadow: 0 7px 0 #891B0D, 0 14px 0 #891B0D;
      content: ''; }
  .top-bar {
    background-color: #891B0D;
    position: relative;
    z-index: 99999; }
    .top-bar .divider {
      border-top: 1px solid #FFF; }
    .top-bar .top-bar-left {
      position: absolute;
      left: 0;
      width: 100%; }
      .top-bar .top-bar-left .menu {
        height: auto;
        background-color: #891B0D; }
      .top-bar .top-bar-left .nav-item {
        background-color: #891B0D; }
        .top-bar .top-bar-left .nav-item a {
          color: #FFF; }
      .top-bar .top-bar-left a,
      .top-bar .top-bar-left li,
      .top-bar .top-bar-left ul {
        transition: opacity 1s ease-out; }
    .top-bar .menu.submenu {
      position: relative; }
      .top-bar .menu.submenu li {
        padding-top: 1px;
        padding-bottom: 1px; }
        .top-bar .menu.submenu li a {
          text-align: center;
          font-size: 14px; } }

.button-standard {
  min-width: 250px; }

.button-white {
  background-color: #FFF;
  color: #891B0D;
  font-weight: bold; }
  .button-white:active, .button-white:hover, .button-white:focus {
    color: #891B0D;
    background-color: #DFC9A0; }

.button-white-outline {
  background: transparent;
  border: 2px solid #FFF;
  color: #FFF;
  font-weight: bold; }
  .button-white-outline:active, .button-white-outline:hover, .button-white-outline:focus {
    color: #FFF;
    background-color: #DFC9A0; }

.button-red {
  background-color: #891B0D;
  color: #FFF;
  font-weight: bold; }
  .button-red:active, .button-red:hover, .button-red:focus {
    color: #FFF;
    background-color: #DFC9A0; }

.button-red-outline {
  background: transparent;
  color: #891B0D;
  border: 2px solid #891B0D;
  font-weight: bold;
  width: 300px; }
  .button-red-outline:active, .button-red-outline:hover, .button-red-outline:focus {
    color: #FFF;
    background-color: #DFC9A0; }

.button-green {
  background-color: #648B4C;
  color: #FFF;
  font-weight: bold; }
  .button-green:active, .button-green:hover, .button-green:focus {
    color: #FFF;
    background-color: #DFC9A0; }

.button-facebook {
  background-color: #3b5998;
  color: #FFF; }

.button-linkedin {
  background-color: #0077b5;
  color: #fff; }

footer {
  color: #891B0D;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px; }
  footer .icon {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    color: #891B0D; }
  footer .founding {
    padding-top: 0px;
    padding-bottom: 30px; }
  footer #footer-sponsors ul {
    margin: 0px;
    columns: 4; }
    @media (max-width: 39.9375em) {
      footer #footer-sponsors ul {
        columns: 1; } }
    footer #footer-sponsors ul li {
      text-align: center;
      list-style-type: none; }
      footer #footer-sponsors ul li img {
        height: 100px;
        width: auto; }

.srec-menu {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 8px;
  padding-top: 25px;
  margin-bottom: 40px; }
  .srec-menu li {
    text-align: center; }
  .srec-menu li a {
    color: #333333; }
    .srec-menu li a:hover {
      color: #891B0D;
      font-weight: bold; }
  .srec-menu .active {
    color: #891B0D;
    font-weight: bold; }
    .srec-menu .active a {
      color: #891B0D;
      background: transparent; }

.sub-page-nav {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 8px;
  padding-top: 25px;
  margin-bottom: 40px; }
  .sub-page-nav li {
    text-align: center; }
  .sub-page-nav li a {
    color: #333333; }
    .sub-page-nav li a:hover {
      color: #891B0D;
      font-weight: bold; }
  .sub-page-nav .active {
    color: #891B0D;
    font-weight: bold; }
    .sub-page-nav .active a {
      color: #891B0D;
      background: transparent; }

.slider {
  height: auto;
  margin-bottom: 30px;
  background: transparent; }
  .slider .slick-slide {
    padding-left: 10px;
    padding-right: 10px; }
  .slider .slick-dots {
    bottom: -35px; }
    .slider .slick-dots li button::before {
      color: #891B0D;
      font-size: 8px; }

.reveal {
  border: none;
  padding: 50px 40px 50px 40px; }
  .reveal .close-button {
    background-color: #891B0D;
    color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding-left: 1px;
    padding-bottom: 1px; }
  .reveal p {
    margin-bottom: 5px; }
  .reveal .bio {
    padding-top: 10px; }

.body-content h1,
.body-content h2,
.body-content h3,
.body-content h4,
.body-content h5,
.body-content h6,
.body-content p {
  color: #333333; }

.body-content h1,
.body-content h2,
.body-content h3,
.body-content h4,
.body-content h5,
.body-content h6 {
  font-weight: bold; }

.body-content .block-text_image .block-image img {
  height: 400px;
  object-fit: cover; }

.body-content .block-text_image .block-text {
  padding: 50px 120px;
  margin-top: -100px;
  background-color: #FFF;
  width: 80%;
  position: relative;
  margin: -100px auto 100px; }
  @media (max-width: 39.9375em) {
    .body-content .block-text_image .block-text {
      width: 100%;
      padding: 50px 10px; } }

.gallery-list {
  height: 100%;
  margin-top: 100px;
  position: relative; }
  .gallery-list #gallery-row {
    background-color: #EFEFEF; }
  .gallery-list .background {
    position: absolute;
    background-color: #F3F3F3;
    top: 250px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .gallery-list .column-block {
    text-align: center; }
  .gallery-list .member__image {
    padding-bottom: 10px; }
  .gallery-list .gallery-item {
    text-align: center;
    background-color: #FFF;
    padding-bottom: 10px; }
    .gallery-list .gallery-item .item__info {
      padding: 20px; }
      .gallery-list .gallery-item .item__info p {
        margin-bottom: 0px; }

.event-side-block {
  background-color: #434750;
  color: #FFF; }
  .event-side-block .event-side-block__content {
    padding: 70px 30px 30px 30px; }
  .event-side-block p {
    color: #FFF; }
  .event-side-block .button-white {
    color: #333333; }

form input, form textarea {
  border-radius: 6px !important; }

form .errorlist {
  margin-left: 0px; }
  form .errorlist li {
    list-style-type: none;
    color: #891B0D; }

#payment-form .field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 6px;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  #payment-form .field input {
    padding-top: 4px; }

.upcoming-event {
  background-color: #434750;
  color: #FFF; }
  .upcoming-event .upcoming-event__content {
    padding: 70px 30px 30px 30px; }
  .upcoming-event p {
    color: #FFF; }
  .upcoming-event .button-white {
    color: #333333; }

.event-block {
  position: relative;
  background-color: #FFF; }
  .event-block a {
    color: #333333; }
  .event-block .event-block__text {
    padding: 20px;
    padding-bottom: 5px; }
    .event-block .event-block__text h4 {
      padding-bottom: 10px; }
  .event-block .event-block__date {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    color: #FFF;
    text-align: center;
    font-weight: bold; }
    .event-block .event-block__date .date, .event-block .event-block__date .month {
      padding-top: 10px;
      padding-bottom: 10px; }
    .event-block .event-block__date .month {
      background-color: #891B0D; }
    .event-block .event-block__date .date {
      background-color: #DFC9A0; }

.featured-event {
  background-color: #FFF;
  margin-bottom: 30px;
  position: relative;
  height: 100%; }
  .featured-event .featured-event__content {
    padding: 25px; }
  .featured-event .featured-event__text {
    padding-top: 25px; }
  .featured-event .button-purchase {
    /*position: absolute;
        padding-left: inherit;
        padding-right: inherit;
        bottom: 0px;
        left: 0;
        right: 0;
        width: 100%;*/ }
  .featured-event .featured_image {
    position: relative; }
    .featured-event .featured_image .event-block__date {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100px;
      height: 100px;
      color: #FFF;
      text-align: center;
      font-weight: bold; }
      .featured-event .featured_image .event-block__date .date, .featured-event .featured_image .event-block__date .month {
        padding-top: 10px;
        padding-bottom: 10px; }
      .featured-event .featured_image .event-block__date .month {
        background-color: #891B0D; }
      .featured-event .featured_image .event-block__date .date {
        background-color: #DFC9A0; }

.product-block {
  background-color: #F3F3F3;
  text-align: center; }
  .product-block .product__title {
    background-color: #333333;
    color: #FFF;
    padding-top: 17px;
    padding-bottom: 17px; }
    .product-block .product__title h5 {
      margin-bottom: 0px; }
  .product-block .product__content {
    padding: 50px 30px 50px 30px;
    margin-bottom: 30px; }
    .product-block .product__content .text {
      padding-bottom: 20px; }
    .product-block .product__content .short-text {
      padding-bottom: 20px; }

.block-region {
  font-size: 24px;
  color: #333333;
  font-weight: bold; }

#leaders ul {
  margin: 0px;
  list-style-type: none; }

.block-leader {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.image-text-block {
  position: relative; }
  .image-text-block .image-text-block__image {
    width: 100%; }
    .image-text-block .image-text-block__image img {
      width: 100%; }
  .image-text-block .image-text-block__text {
    margin: auto;
    margin-top: -50px;
    width: 90%;
    position: relative;
    background-color: #FFF;
    padding: 25px; }

.block-gallery_block {
  margin-top: 50px;
  margin-bottom: 50px; }
  .block-gallery_block .caption {
    padding-top: 25px; }

.order-details {
  background-color: #891B0D; }

.block-table table tbody tr:nth-child(even) {
  border-bottom: 0;
  background-color: #fff; }

.template-homepage {
  padding-top: 0px !important; }
  .template-homepage section.home-header {
    padding-bottom: 75px; }
    .template-homepage section.home-header .row-fluid {
      max-width: 1440px;
      margin: auto; }
    .template-homepage section.home-header .orbit, .template-homepage section.home-header .orbit-container {
      min-height: 500px;
      max-height: 500px;
      width: 100%; }
      .template-homepage section.home-header .orbit img, .template-homepage section.home-header .orbit-container img {
        height: 500px;
        object-fit: cover; }
      @media (max-width: 39.9375em) {
        .template-homepage section.home-header .orbit, .template-homepage section.home-header .orbit-container {
          max-height: 600px; }
          .template-homepage section.home-header .orbit img, .template-homepage section.home-header .orbit-container img {
            height: 600px; } }
    .template-homepage section.home-header .orbit-caption {
      position: absolute;
      top: 50px;
      left: 40px;
      height: 350px;
      width: 500px;
      background-color: #891B0D;
      padding-bottom: 30px; }
      .template-homepage section.home-header .orbit-caption .content {
        position: relative;
        padding: 30px;
        padding-bottom: 40px;
        height: 100%; }
        .template-homepage section.home-header .orbit-caption .content p {
          color: #FFFFFF;
          font-size: 14px;
          line-height: 24px; }
        .template-homepage section.home-header .orbit-caption .content .learn-more {
          position: absolute;
          bottom: 0px;
          width: 87%; }
      @media (max-width: 39.9375em) {
        .template-homepage section.home-header .orbit-caption {
          height: 500px;
          width: 350px;
          left: 5px; }
          .template-homepage section.home-header .orbit-caption .content {
            position: relative;
            padding: 5px;
            padding-bottom: 5px; }
            .template-homepage section.home-header .orbit-caption .content .learn-more {
              width: 305px; } }
    .template-homepage section.home-header .orbit-bullets button {
      background-color: #EFEFEF;
      border-radius: 0px;
      width: 25px;
      height: 5px; }
      .template-homepage section.home-header .orbit-bullets button.is-active {
        background-color: #891B0D; }
  .template-homepage section.events {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F3F3F3; }
  .template-homepage section.sponsors {
    background-color: #891B0D;
    background-image: url("../images/home-sponsors.jpg");
    background-size: cover;
    color: #FFF; }
    .template-homepage section.sponsors .title {
      padding-bottom: 25px; }
    .template-homepage section.sponsors h5 {
      text-align: center; }
    .template-homepage section.sponsors .button {
      margin-left: 25px; }

.template-about {
  padding-top: 50px; }
  .template-about section.page-content {
    padding-top: 50px;
    padding-bottom: 50px; }
  .template-about section.page-content p {
    width: 90%;
    margin: auto; }
  .template-about section.page-content h5 {
    margin-left: -5%;
    width: 110%; }

.template-srec-overview .upcoming-event {
  background-color: #434750;
  color: #FFF; }
  .template-srec-overview .upcoming-event .upcoming-event__content {
    padding: 70px 30px 30px 30px; }
  .template-srec-overview .upcoming-event p {
    color: #FFF; }
  .template-srec-overview .upcoming-event .button-white {
    color: #333333; }

.template-srec-overview .gallery {
  padding-top: 100px; }

.template-srec-overview #srec-slider {
  margin-bottom: 50px;
  background-color: transparent; }

.template-membership .title {
  padding-top: 10px;
  margin-bottom: 35px; }

.template-membership .page-header {
  padding-bottom: 0px;
  padding-top: 45px; }

.template-membership .product-block .membership-pricing {
  margin-bottom: 35px;
  padding-top: 20px; }
  .template-membership .product-block .membership-pricing h3 {
    display: inline; }
    .template-membership .product-block .membership-pricing h3:first-of-type {
      padding-right: 10px; }
    .template-membership .product-block .membership-pricing h3:last-of-type {
      padding-left: 10px; }

.template-membership .product-block .product__content .text {
  height: auto; }

.template-membership .product-block .product__content .short-text {
  height: auto; }

.template-membership .product-block .divider {
  border-left: 1px solid #979797; }

.template-membership .member-benefits .benefit {
  color: #333333;
  display: table-row;
  margin-bottom: 25px;
  margin-top: 30px; }
  .template-membership .member-benefits .benefit .icon, .template-membership .member-benefits .benefit .text {
    display: table-cell; }
  .template-membership .member-benefits .benefit .icon {
    width: 75px;
    height: 100%; }

.template-membership .member-people {
  padding-top: 50px; }
  .template-membership .member-people .title {
    padding-top: 40px;
    margin-bottom: 40px; }
  .template-membership .member-people h5 {
    color: #891B0D;
    padding-bottom: 25px; }
  .template-membership .member-people p {
    margin-bottom: 5px; }
  .template-membership .member-people .closing {
    padding-top: 50px; }

.template-member-directory section.members-directory {
  padding-top: 50px; }
  .template-member-directory section.members-directory .page-link {
    background-color: #891B0D; }

.template-member-directory .iso-bootstrap .btn.default {
  border: 1px solid #ccc; }

.template-member-directory .pagination .active.page-item a {
  background-color: #891B0D;
  color: #FFF; }

.template-member-directory .pagination .page-item a {
  background-color: #FFF;
  color: #891B0D; }

.template-hall-of-fame .event-side-block {
  background-color: #891B0D;
  color: #FFF; }
  .template-hall-of-fame .event-side-block .button {
    color: #891B0D; }

@media (max-width: 39.9375em) {
  .template-hall-of-fame section.gallery {
    margin-top: 30px; } }

.template-contact section.map-section {
  padding-bottom: 200px;
  padding-top: 200px;
  background-color: #F3F3F3;
  position: relative; }
  .template-contact section.map-section #map {
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 100%; }
  .template-contact section.map-section .contact-us-box {
    height: 300px;
    padding: 30px;
    color: #FFF;
    background-color: #891B0D;
    position: relative;
    z-index: 99999; }
    .template-contact section.map-section .contact-us-box p {
      color: #FFF; }

.template-contact section.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #333333;
  color: #FFF; }
  .template-contact section.contact-form .rich-text {
    color: #FFF; }
    .template-contact section.contact-form .rich-text p {
      color: inherit;
      margin-bottom: 0px; }
  .template-contact section.contact-form button {
    width: 250px; }

.template-event-detail .event-details {
  position: relative;
  margin-bottom: 250px; }
  .template-event-detail .event-details .event-image {
    width: 100%;
    max-height: 500px;
    object-fit: 'cover'; }
  .template-event-detail .event-details .background {
    position: absolute;
    background-color: #F3F3F3;
    top: 250px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .template-event-detail .event-details #map {
    width: 100%;
    height: 400px; }
  .template-event-detail .event-details .event-details__location {
    background-color: #333333;
    margin-top: 30px;
    color: #FFF; }
    .template-event-detail .event-details .event-details__location .text {
      padding: 35px; }
      .template-event-detail .event-details .event-details__location .text p {
        color: #FFF; }
  .template-event-detail .event-details .event-details__text {
    margin-top: -150px;
    padding: 50px;
    background-color: #FFF; }

.template-member-profile .tabs-title > button {
  display: block;
  padding: 1.25rem 1.5rem;
  font-size: 0.75rem;
  line-height: 1;
  color: #1779ba; }

.template-member-profile #profile-image {
  max-height: 500px;
  width: 100%;
  object-fit: cover; }

.template-leadership-standard .rich-text ul {
  columns: 1;
  list-style-type: none; }

.template-member-profile-edit .delete-row {
  color: #891B0D;
  padding-left: 20px; }

.template-member-profile-edit .add-row {
  color: #891B0D;
  padding-left: 5px; }

.template-404 {
  height: 90vh;
  background-color: #333333;
  background-image: url("../images/bg404.jpg");
  background-size: cover;
  color: #FFF;
  padding-top: 15% !important; }
  .template-404 h3 {
    width: 50%; }
  .template-404 .button-white {
    width: 225px;
    font-weight: bold;
    margin-top: 25px; }

.template-500 {
  height: 100vh;
  background-color: #333333;
  background-image: url("../images/bg404.jpg");
  background-size: cover;
  color: #FFF;
  padding-top: 20% !important; }
  .template-500 h3 {
    width: 50%; }
  .template-500 .button-white {
    width: 225px;
    font-weight: bold;
    margin-top: 25px; }

/*# sourceMappingURL=../../../../../../../../../static/sass/style.css.map */