.template-homepage {
    padding-top: 0px !important;
    section.home-header {
        padding-bottom: 75px;
        .row-fluid {
            max-width: 1440px;
            margin: auto;
        }
        .orbit, .orbit-container {
            min-height: 500px;
            max-height: 500px;
            width: 100%;
            //overflow: hidden;
            //z-index: -1;
            img {
                height: 500px;
                object-fit: cover
            }
            @media (max-width: $small) {
              max-height: 600px;
              img{
                height: 600px;
              }
            }
        }
        .orbit-caption {
            position: absolute;
            top: 50px;
            left: 40px;
            height: 350px;
            width: 500px;
            background-color: $red;
            padding-bottom: 30px;
            .content {
                position: relative;
                padding: 30px;
                padding-bottom: 40px;
                height: 100%;
                p {
                    color: #FFFFFF;
                    font-size: 14px;
                    line-height: 24px;
                }
                .learn-more {
                    position: absolute;
                    bottom: 0px;
                    width: 87%;
                }
            }
            @media (max-width: $small) {
              height: 500px;
              width: 350px;
              left: 5px;
              .content {
                  position: relative;
                  padding: 5px;
                  padding-bottom: 5px;
                  .learn-more{
                    width: 305px;
                  }
              }

            }
        }
        .orbit-bullets{
            button{
                background-color: $light-gray;
                border-radius: 0px;
                width: 25px;
                height: 5px;

                &.is-active{
                    background-color: $red;
                }

            }

        }
    }
    section.events {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: $lighter-brown;
    }
    section.sponsors {
        background-color: $red;
        background-image: url('../images/home-sponsors.jpg');
        background-size: cover;
        color: $white;
        .title{
            padding-bottom: 25px;
        }
        h5{
            text-align: center;
        }
        .button{
            margin-left: 25px;
        }
    }
}
