.template-about{
	padding-top: 50px;

	section.about-header{
		padding-bottom: 25px;
		padding-top: 25px;
		padding-bottom: 40px;
	}

	section.page-content{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	section.page-content{
		p{
			width: 90%;
			margin: auto;
		}
		h5 {
			margin-left: -5%;
			width: 110%;
		}
	}
}