.template-member-directory{


	section.members-directory{
		padding-top: 50px;
		.page-link{
			background-color: $red;
		}
	}

	.iso-bootstrap{
		.btn.default{
			border: 1px solid #ccc;
		}
	}

	.pagination{

		.active.page-item{
			a{
				background-color: $red;
				color: $white;
			}
		}
		.page-item{
			a{
				background-color: $white;
				color: $red;
			}
		}

	}

}
