.template-about{
	padding-top: 50px;

	section.about-header{
		padding-bottom: 25px;
		padding-top: 25px;
		padding-bottom: 70px;
	}

	section.page-content{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}