{% extends "wagtailadmin/base.html" %}
{% load staticfiles %}

{% load staticfiles %}

{% block extra_css %}
    
{% endblock %}

{% block css %}
    {{ block.super }}
    {{ view.media.css }}
    <style>
        .logo{
            background-color: #FFF;
            margin-top: 0px;
            padding-top: 10px;
            height: 50px;
        }
    </style>
{% endblock %}

{% block branding_logo %}
    <img id="logo" src="{% static 'images/logo.png' %}" alt="SPIRE" width="80" />
{% endblock %}