<footer>
	<div class="row stay">
		<div class="small-12 columns">
			<h4 class="bold">Stay in Touch with SPIRE Stanford</h4>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
				<a class="icon" href="{{ settings.spiresite.SocialMediaSettings.facebook }}"><span class="fa fa-facebook"></span></a>
				<a class="icon" href="{{ settings.spiresite.SocialMediaSettings.twitter }}"><span class="fa fa-twitter"></span></a>
				<a class="icon" href="{{ settings.spiresite.SocialMediaSettings.linkedin}}"><span class="fa fa-linkedin"></span></a>
				<a class="icon" href="https://www.instagram.com/{{ settings.spiresite.SocialMediaSettings.instagram }}"><span class="fa fa-instagram"></span></a>
		</div>
	</div>
	<div class="row founding">
		<div class="small-12 columns">
			<h4 class="bold">Founding Core Sponsor</h4>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h4 class="">Allan Matkins</h4>
		</div>
	</div>
</footer>