
<ul class="menu expanded srec-menu">

  <li class="{% if calling_page.url == '/about/leadership/' %}active{% endif %}">
  <a href="/about/leadership/">Overview</a>
  </li>
  <li class="{% if calling_page.url == '/about/leadership/staff/' %}active{% endif %}">
  <a href="/about/leadership/staff">Staff</a>
  </li>
  <li class="{% if calling_page.url == '/about/leadership/board-of-directors/' %}active{% endif %}">
  <a href="/about/leadership/board-of-directors">Board of Directors</a>
  </li>
  <li class="{% if calling_page.url == '/about/leadership/board-of-governers/' %}active{% endif %}">
  <a href="/about/leadership/board-of-governers">Board of Governors</a>
  </li>
   <li class="{% if calling_page.url == '/about/leadership/regional-leaders/' %}active{% endif %}">
  <a href="/about/leadership/regional-leaders">Regional Leaders</a>
  </li>
   <li class="{% if calling_page.url == '/about/leadership/founders-circle/' %}active{% endif %}">
  <a href="/about/leadership/founders-circle">Founder's Circle</a>
  </li>
</ul>
	