
<ul class="menu expanded srec-menu">
  <li class="{% if calling_page.url == '/srec/' %}active{% endif %}"><a href="/srec">Overview</a></li>
  <li class="{% if calling_page.url == '/srec/members/' %}active{% endif %}"><a href="/srec/members">Members</a></li>
  <li class="{% if calling_page.url == '/srec/conference/' %}active{% endif %}"><a href="/srec/conference/">Conference</a></li>
  <li class="{% if calling_page.url == '/srec/other-events/' %}active{% endif %}"><a href="/srec/other-events">Other Events</a></li>
</ul>
	