{% load nav_tags wagtailcore_tags %}
{% get_site_root as site_root %}
{% load static %}


<!--[if IE]>
<style>
    .top-bar .menu.submenu {
         margin-top: 50px;
    }
</style>
<![endif]-->


<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium" style="display:none;">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">
    <a class="navbar-brand" href="{% pageurl site_root %}">
        <img src="{% static 'images/logo.png' %}" width="170">
    </a></div>
</div>


<div class="top-bar show-for-small-only" id="responsive-menu" style="display:none">
  <div class="top-bar-left">
   <ul class="vertical menu" data-dropdown-menu data-closing-time="0">
        {% for menuitem in menuitems %}
            <li class="nav-item {% if menuitem.show_dropdown %}{% endif %}{% if menuitem.active %} active{% endif %}">
                {% if menuitem.show_dropdown %}

                    {% top_menu_children_mobile parent=menuitem %}

                {% else %}
                    <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                {% endif %}
            </li>
        {% endfor %}

            {% if request.user.is_authenticated %}

            <li class="nav-item divider" ><a class="white" href="{% url 'members:member-profile' %}">Profile</a>
            <li class="nav-item"><a class="white" href="/accounts/logout/">Logout</a></li>


            {% else %}

              <li class="nav-item divider">
                <a href="/accounts/login/">Login</a>
              </li>
              <li class="nav-item join">
                <a href="/accounts/register/">Join</a>
            </li>

          {% endif %}


    </ul>
  </div>
</div>




<div data-sticky-container>

  <div class="top-bar hide-for-small-only" data-sticky data-options="marginTop:0;" style="width:100%" >
    <div class="row">
      <div class="small-12 columns">
        <div class="top-bar-left">

          <ul class="dropdown menu expanded" data-dropdown-menu data-closing-time="0">
            <li class="menu-text">
                  <a class="navbar-brand" href="{% pageurl site_root %}">
                      <img src="{% static 'images/logo.png' %}" width="170">
                  </a>
            </li>
              {% for menuitem in menuitems %}
                  <li class="nav-item {% if menuitem.show_dropdown %}{% endif %}{% if menuitem.active %} active{% endif %}">
                      {% if menuitem.show_dropdown %}

                          {% top_menu_children parent=menuitem %}

                      {% else %}
                          <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                      {% endif %}
                  </li>
              {% endfor %}
          </ul>
        </div>
        <div class="top-bar-right">
            {% if request.user.is_authenticated %}
              <ul class="dropdown menu" data-dropdown-menu>
                <li class="nav-item">
                  <a class="bold" href="#">{% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{request.user.username|truncatechars:12}}{% endif %}<span class="fa fa-chevron-down" style="padding-left:10px;"></span></a>
                  <ul class="menu">
                    <li><a class="white text-right" href="{% url 'members:member-profile' %}">Profile</a>
                      <li><a class="white text-right" href="{% url 'password_change' %}">Change Password</a>
                    <li><a class="white text-right" href="/accounts/logout/">Logout</a></li>
                  </ul>
                </li>
              </ul>
            {% else %}
              <ul class="menu">
                <li class="nav-item">
                  <a class="text-right" href="/accounts/login/">Login</a>
                </li>
                <li class="nav-item join">
                  <a class="text-right" href="/accounts/register/">Join</a>
              </li>
               </ul>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
