{% extends 'base.html' %}
{% load staticfiles %}

{% block body_class %}template-member-create{% endblock %}

{% block title %}New Member{% endblock %}

{% block content %}


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    {% for message in messages %}
      <div class="callout alert">
        <h5>{{message}}</h5>
      </div>
    {% endfor %}

    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 columns">

    	<form action="{% url 'members:member-create'%}" method="post"> 
	 		
	    	{% csrf_token %}

	    	{{user_form}}

	    	{{member_form}}

	    	{{address_form}}


			 {{ education_formset.management_form }}
      {% for form in education_formset %}

        {% for hidden in  form.hidden_fields %}
            {{ hidden }}
        {% endfor %}   
        <div class="row formset-row">
          <div class="small-4 medium-4 columns">
            {{form.degree.errors}}
            {{form.degree.label_tag}}
            {{form.degree}}
          </div>
          <div class="small-4 medium-4 columns">
            {{form.program.errors}}
            {{form.program.label_tag}}
            {{form.program}}
          </div>
          <div class="small-4 medium-4 columns">
            {{form.grad_year.errors}}
            {{form.grad_year.label_tag}}
            {{form.grad_year}}
          </div>
        </div>
      {% endfor %}
      
      <script type="text/javascript">
        $(function() {
            $('.formset-row').formset({
                prefix: '{{ education_formset.prefix }}'
            });
        })
       </script>
  
       <div class="row">
          <div class="small-12 columns">
      		  <input type="submit" class="button button-red float-right">
          </div>
        </div>
 		</form>

    </div>
  </div>
{% endblock %}