{% extends 'base.html' %}
{% load staticfiles %}

{% block body_class %}template-member-create{% endblock %}

{% block title %}New Member{% endblock %}

{% block content %}



  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 columns">

    	<form id="profile-create-form" action="{% url 'members:member-create'%}" method="post"> 
	 		
	    	{% csrf_token %}

	    	{{user_form}}

	    	{{member_form}}

	
        {{address_form.address_line_one.errors}}
        <label for="{{address_form.address_line_one.label}}">Address</label>
        {{address_form.address_line_one}}


        {{address_form.address_line_two.errors}}
        <label for="{{address_form.address_line_two.label}}">Address 2</label>
        {{address_form.address_line_two}}


        {{address_form.city.errors}}
        <label for="{{address_form.city.label}}">City</label>
        {{address_form.city}}


        <div class="row">
            <div class="small-12 medium-12 columns">
                {{address_form.country.errors}}
                <label for="{{address_form.country.label}}">Country</label>
                <select name="country" id="id_country" required>
                </select>
            </div>
        </div>


        <div class="row">
          <div class="small-12 medium-6 columns">
              {{address_form.state.errors}}
              <label for="{{address_form.state.label}}">State</label>
              {{address_form.state}}
          </div>
          <div class="small-12 medium-6 columns">
              {{address_form.zip_code.errors}}
              <label for="{{address_form.zip_code.label}}">ZIP Code</label>
              {{address_form.zip_code}}
          </div>
        </div>


		{{ education_formset.management_form }}
      {% for form in education_formset %}

        {% for hidden in  form.hidden_fields %}
            {{ hidden }}
        {% endfor %}   
        <div class="row formset-row">
          <div class="small-4 medium-4 columns">
            {{form.degree.errors}}
            {{form.degree.label_tag}}
            {{form.degree}}
          </div>
          <div class="small-4 medium-4 columns">
            {{form.program.errors}}
            {{form.program.label_tag}}
            {{form.program}}
          </div>
          <div class="small-4 medium-4 columns">
            {{form.grad_year.errors}}
            {{form.grad_year.label_tag}}
            {{form.grad_year}}
          </div>
        </div>
      {% endfor %}
      
      <script type="text/javascript">
        $(function() {
            $('.formset-row').formset({
                prefix: '{{ education_formset.prefix }}'
            });
        })
       </script>
  
       <div class="row">
          <div class="small-12 columns">
      		  <input type="submit" class="button button-red float-right">
          </div>
        </div>
 		</form>

    </div>
  </div>
{% endblock %}