{% extends 'base.html' %}
{% load staticfiles %}

{% block body_class %}template-member-create{% endblock %}

{% block title %}New Member{% endblock %}

{% block content %}



  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 columns">

    	<form id="profile-create-form" action="{% url 'members:member-create'%}" method="post"> 
	 		
	    	{% csrf_token %}

	    	{{user_form}}

	    	{{member_form}}

	
        {{address_form.address_line_one.errors}}
        <label for="{{address_form.address_line_one.label}}">Address</label>
        {{address_form.address_line_one}}


        {{address_form.address_line_two.errors}}
        <label for="{{address_form.address_line_two.label}}">Address 2</label>
        {{address_form.address_line_two}}




        <div class="row" style="padding-bottom: 20px;">
            <div class="small-12 medium-12 columns">
                <div class="field-wrapper">
                {{address_form.country.errors}}
                <label for="{{address_form.country.label}}">Country</label>
                <select name="country" id="id_country" required>
                </select>
                </div>
            </div>
        </div>

        <div class="row" id="locality-fields">
            <div class="small-12 columns">
                <div class="small-12 medium-4 columns">
               
                        {{address_form.city.errors}}
                        <label for="id_city">City</label>
                        {{address_form.city}}
               
                </div>
                <div class="small-12 medium-4 columns">
                    
                          {{address_form.state.errors}}
                          <label for="id_state">State</label>
                          {{address_form.state}}
                   
                </div>
                <div class="small-12 medium-4 columns">
                       
                          {{address_form.zip_code.errors}}
                          <label for="id_zip_code">ZIP Code</label>
                          {{address_form.zip_code}}
                  
                </div>
            </div>
        </div>


        <div class="callout">

        <h4>Professional Information</h4>

          <div class="row">
            <div class="small-12 medium-12 columns">
              {{ work_form.title.errors }}
              {{ work_form.title.label_tag }}
              {{ work_form.title }}
            </div>

            <div class="small-12 medium-12 columns">
              {{ work_form.company.errors }}
              {{ work_form.company.label_tag }}
              {{ work_form.company }}
            </div>
        
            <div class="small-12 medium-12 columns">
              {{ work_form.industry.errors }}
              {{ work_form.industry.label_tag }}
              {{ work_form.industry }}
            </div>

            <div style="display:none;" class="small-12 medium-12 columns" id="other-fieldset">
              <label for="other-industry">Please Specify</label>
              <input type="text" name="other-industry" id="other-industry" placeholder="Other" >
            </div>
          </div>


        </div>




        <div class="callout">

        <h4>Education</h4>

		{{ education_formset.management_form }}
         {% for form in education_formset %}

        {% for hidden in  form.hidden_fields %}
            {{ hidden }}
        {% endfor %}   
        <div class="row formset-row">
          <div class="small-4 medium-4 columns">
            {{form.degree.errors}}
            {{form.degree.label_tag}}
            {{form.degree}}
          </div>
          <div class="small-4 medium-4 columns">
            {{form.program.errors}}
            {{form.program.label_tag}}
            {{form.program}}
          </div>
          <div class="small-4 medium-4 columns">
            {{form.grad_year.errors}}
            {{form.grad_year.label_tag}}
            {{form.grad_year}}
          </div>
        </div>
      {% endfor %}

      </div>
      
      <script type="text/javascript">
        $(function() {
            $('.formset-row').formset({
                prefix: '{{ education_formset.prefix }}'
            });
        })
       </script>
  
       <div class="row">
          <div class="small-12 columns">
      		  <input type="submit" class="button button-red float-right">
          </div>
        </div>
 		</form>

    </div>
  </div>
{% endblock %}