{% extends "base.html" %}

{% load nav_tags static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-member-profile{% endblock %}

{% block title %}{% endblock %}

{% block content %}


<section class="page-header">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="red-line"></h2>
		</div>
	</div>

</section>


<section class="pricing">
	<div class="row">
		<div class="small-12 columns">
		
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<table class="table">
					
				</tbody>
			</table>
			
		</div>
	</div>
</section> 


{% endblock %}

