.event-side-block{
	background-color: $dark-gray;
	color: $white;
	.event-side-block__content{
		padding: 70px 30px 30px 30px;
	}
	p{
		color: $white;
	}
	a{
		color: $white;
		text-decoration: underline;
	}
	.button-white{
		color: $black;
	}

}
