footer{
	color: $red;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;

	.icon{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 22px;
		color: $red;
	}

	.stay{

	}

	.founding{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#footer-sponsors{
		ul{
			margin: 0px;
			columns: 3;
			li{
				text-align: center;
				list-style-type: none;

			}
		}
	}
}