footer{
	color: $red;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 25px;

	.icon{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 22px;
		color: $red;
	}

	.stay{

	}

	.founding{
		padding-top: 0px;
		padding-bottom: 30px;
	}

	#footer-sponsors{
		ul{
			margin: 0px;
			columns: 4;
			@media (max-width: $small) {
				columns: 1;
			}
			li{
				text-align: center;
				list-style-type: none;

				img{
					height: 100px;
					width: auto;
				}
			}
		}
	}
	.footer-terms{
		padding-bottom: 25px;
	}
}
