.gallery-list{
	height: 100%;
	margin-top: 100px;
	
	#gallery-row{
		background-color: $light-gray;
	}
	
	.column-block{
		margin-top: -50px;
	}
	
	.gallery-item{
		text-align: center;
		background-color: $white;
		padding-bottom: 10px;
		.item__image{
			
		}

		.info__info{
			padding: 20px;
			p{
				margin-bottom: 0px;
			}
		}
	}


}