.gallery-list{
	height: 100%;
	margin-top: 100px;
	position: relative;
	#gallery-row{
		background-color: $light-gray;
	}

	.background{
		position: absolute;
		background-color: $lighter-brown;
		top: 250px;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
	}
	.column-block{
		text-align: center;
	}
	.member__image{
		padding-bottom:10px;
	}
	.gallery-item{
		text-align: center;
		background-color: $white;
		padding-bottom: 10px;
		.item__image{

		}


		.item__info{
			padding: 20px;

			p{
				margin-bottom: 0px;
			}
		}
	}


}
