.slider{
	height: auto;
	margin-bottom: 30px;
	background: transparent;
	.slick-slide{
		padding-left: 10px;
		padding-right: 10px;

	}

	.slick-dots{
		bottom: -35px;
		li button{

			&::before{
				color: $red;
				font-size: 8px;
			}
		}
	}
}