.srec-menu{
	border-bottom: 1px solid $light-gray;
	padding-bottom: 25px;
	padding-top: 25px;
	margin-bottom : 40px;
	li{
		text-align: center;
	}
	li a{
		color: $black;

		&:hover{
			color: $red;
			font-weight: bold;
		}
	}
	.active{
		color: $red;
		font-weight: bold;
		
		a{	
			color: $red;
			background: transparent;
		}
	}
}