{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Login{% endblock %}

{% block body_class %}template-login{% endblock %}


{% block content %}

<div class="row">
	<div class="small-6 small-centered columns text-centered">

	<form action="{% url 'auth_login'  %}?next={{next}}" method="post">
	    {% csrf_token %}
	    {{ form }}
	    <input type="submit" value="Submit" />
	</form>

	<a class="float-right" href="{% url 'registration_register' %}">Register</a>

	</div>
</div>



{% endblock %}