{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Login{% endblock %}

{% block body_class %}template-login{% endblock %}


{% block content %}

<div class="row">

  <div class="small-12 columns">
    <h3>Login or Signup</h3>
  </div>

	<div class="small-6 columns text-centered">
  
  		<form action="{% url 'auth_login'  %}?next={{next}}" method="post">
  		    {% csrf_token %}
  		    
         

  		    <label for="id_username" >Email</label>
  		    <input type="text" name="username" autofocus="" required="" id="id_username" maxlength="254">
  		    
  		    <label for="id_password">Password</label>
  		    <input type="password" name="password" required="" id="id_password" autocomplete="off">
  		     {{ form.non_field_errors }}
          <input class="button button-red" type="submit" value="Submit" />

  		</form>
	</div>

	<div class="small-6 columns text-centered">
	
		    <a class="button button-linkedin expanded" href="{% url "social:begin" "linkedin-oauth2" %}">Sign in with LinkedIn</a>

        <a class="button button-facebook expanded" href="{% url "social:begin" "facebook" %}">Sign in with Facebook</a>

        <hr>

        <h3>Register</h3>

        <a class="button button-red expanded" href="{% url 'registration_register' %}">Register</a>

  </div>
 </div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1880382195542856',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>



{% endblock %}