{% extends 'base.html' %}


{% block title %}Register{% endblock %}


{% block content %}

<div class="row">
	<div class="small-8 small-centered columns">
		<form action="{% url 'registration_register' %}" method="post">
		    {% csrf_token %}
		    {{ form }}
		    <input type="submit" class="button button-" value="Submit" />
		</form>

        <a href="{% url "social:begin" "linkedin-oauth2" %}">Sign up with LinkedIn</a>

        <a class="button button-facebook" href="{% url "social:begin" "facebook" %}">Sign up with Facebook</a>
        

	</div>
</div>


{% endblock %}