{% extends 'base.html' %}


{% block title %}Register{% endblock %}


{% block content %}

<div class="row">
	<div class="small-8 small-centered columns">
		<form id="registration-form" action="{% url 'registration_register' %}" method="post" >
		    {% csrf_token %}
		    {{ form }}
		    <input type="submit" class="button button-red expanded" value="Submit" />
		</form>   
		<script>

			function getParameterByName(name, url) {
				if (!url) url = window.location.href;
				name = name.replace(/[\[\]]/g, "\\$&");
				var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
					results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return '';
				return decodeURIComponent(results[2].replace(/\+/g, " "));
			}

			var student = getParameterByName('student'); // "lorem"

			if(student){
				$('#id_username').attr("placeholder", "@stanford.edu");


				$("#registration-form").attr("action", "{% url 'registration_register' %}?student=True");
			}


		</script>
	</div>
</div>


{% endblock %}