{% extends "base.html" %}

{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block title %}{{page.title}}{% endblock %}

{% block body_class %}template-contact{% endblock %}

{% block content %}

<section class="page-header">
	<div class="row">
		<div class="small-12 columns">
			<h2 id="page-heading" class="bold red-line">Contact Us</h2>
		</div>
	</div>
</section>


<section class="map-section">
<div id="map"></div>

	<script>
	      function initMap() {
	        var uluru = {lat: 37.4388969, lng: -122.1920458 };
	        var marker = {lat: 37.445022, lng: -122.161332 };
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 14,
	          center: uluru,
	          scrollwheel:  false,
	          styles: [
			    {
			        "featureType": "all",
			        "elementType": "geometry.fill",
			        "stylers": [
			            {
			                "weight": "2.00"
			            }
			        ]
			    },
			    {
			        "featureType": "all",
			        "elementType": "geometry.stroke",
			        "stylers": [
			            {
			                "color": "#9c9c9c"
			            }
			        ]
			    },
			    {
			        "featureType": "all",
			        "elementType": "labels.text",
			        "stylers": [
			            {
			                "visibility": "on"
			            }
			        ]
			    },
			    {
			        "featureType": "landscape",
			        "elementType": "all",
			        "stylers": [
			            {
			                "color": "#f2f2f2"
			            }
			        ]
			    },
			    {
			        "featureType": "landscape",
			        "elementType": "geometry.fill",
			        "stylers": [
			            {
			                "color": "#ffffff"
			            }
			        ]
			    },
			    {
			        "featureType": "landscape.man_made",
			        "elementType": "geometry.fill",
			        "stylers": [
			            {
			                "color": "#ffffff"
			            }
			        ]
			    },
			    {
			        "featureType": "poi",
			        "elementType": "all",
			        "stylers": [
			            {
			                "visibility": "off"
			            }
			        ]
			    },
			    {
			        "featureType": "road",
			        "elementType": "all",
			        "stylers": [
			            {
			                "saturation": -100
			            },
			            {
			                "lightness": 45
			            }
			        ]
			    },
			    {
			        "featureType": "road",
			        "elementType": "geometry.fill",
			        "stylers": [
			            {
			                "color": "#eeeeee"
			            }
			        ]
			    },
			    {
			        "featureType": "road",
			        "elementType": "labels.text.fill",
			        "stylers": [
			            {
			                "color": "#7b7b7b"
			            }
			        ]
			    },
			    {
			        "featureType": "road",
			        "elementType": "labels.text.stroke",
			        "stylers": [
			            {
			                "color": "#ffffff"
			            }
			        ]
			    },
			    {
			        "featureType": "road.highway",
			        "elementType": "all",
			        "stylers": [
			            {
			                "visibility": "simplified"
			            }
			        ]
			    },
			    {
			        "featureType": "road.arterial",
			        "elementType": "labels.icon",
			        "stylers": [
			            {
			                "visibility": "off"
			            }
			        ]
			    },
			    {
			        "featureType": "transit",
			        "elementType": "all",
			        "stylers": [
			            {
			                "visibility": "off"
			            }
			        ]
			    },
			    {
			        "featureType": "water",
			        "elementType": "all",
			        "stylers": [
			            {
			                "color": "#46bcec"
			            },
			            {
			                "visibility": "on"
			            }
			        ]
			    },
			    {
			        "featureType": "water",
			        "elementType": "geometry.fill",
			        "stylers": [
			            {
			                "color": "#c8d7d4"
			            }
			        ]
			    },
			    {
			        "featureType": "water",
			        "elementType": "labels.text.fill",
			        "stylers": [
			            {
			                "color": "#070707"
			            }
			        ]
			    },
			    {
			        "featureType": "water",
			        "elementType": "labels.text.stroke",
			        "stylers": [
			            {
			                "color": "#ffffff"
			            }
			        ]
			    }
			]

	        });
	        var marker = new google.maps.Marker({
	          position: marker,
	          map: map
	        });
	      }
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCT4uyy-Z3jbQZ7S6vd7LXz-TSMOtl0M8&callback=initMap">
    </script>
	<div class="row">
		<div class="medium-5 medium-offset-1 columns">
			<div class="contact-us-box">
				{{page.contact_box|richtext}}
			</div>
		</div>
	</div>
</section>

<section class="contact-form">

	<div class="row">
		<div class="small-12 columns">
			<h3 class="white-line white bold title">Contact Us</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-4 columns">
			{{page.questions|richtext}}
		</div>
		<div class="small-12 medium-8 columns" style="margin-top:20px;">

			{% if form %}
			<form action="{{page.url}}" method="post">
				{% csrf_token %}
				<div class="row">
					<div class="small-12 medium-6 columns">

						<label class="sr-only">First Name</label>
						<input type="text" id="first_name" name="first_name" required placeholder="First Name">
						{{ form.first_name.errors }}
					</div>
					<div class="medium-6 columns">
						<label class="sr-only">Last Name</label>
						<input type="text" required name="last_name" id="last_name" placeholder="Last Name">
						{{ form.last_name.errors }}
					</div>
					<div class="medium-6 columns">
						<label class="sr-only">Email</label>
						<input type="text" name="email" required placeholder="Email">
						{{ form.email.errors }}
					</div>
					<div class="medium-6 columns">
						<label class="sr-only">Phone</label>
						<input type="text" required name="phone" placeholder="Phone">
						{{ form.phone.errors }}
					</div>
					<div class="medium-12 columns">
						<label class="sr-only">Message</label>
						{{ form.message.errors }}
						<textarea type="text" rows="10" required name="message" placeholder="Message"></textarea>

					</div>
				</div>
				<button type="submit" class="button button-white">Submit</button>
			</form>
			{% else %}
				<h2 class="white bold">{{settings.spiresite.ThemeSettings.contact_form_message}}</h2>
			{% endif %}
		</div>
	</div>
</section>


{% endblock %}
