{% extends "base.html" %}

{% load nav_tags static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-hall-of-fame{% endblock %}

{% block content %}

<section class="page-header">
	<div class="row">
		<div class="small-12 columns">
			<h2 id="page-heading" class="bold red-line">{{page.heading}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">


			{% sub_page_nav parent=self calling_page=self %}

		</div>
	</div>
</section>


<section class="page-content">
	<div class="row">
		{% if page.event_text %}
		<div class="small-12 medium-7 columns">
			{{page.page_content|richtext}}
		</div>
		<div class="small-12 medium-5 columns ">
			<div class="event-side-block">
				<div class="event-side-block__content">
					{{page.event_text|richtext}}
					<hr>
					<a href="{{page.button_one_url}}" class="button button-white expanded">{{page.button_one_text}}</a>
					<a href="{{page.button_two_url}}" class="button button-white expanded">{{page.button_two_text}}</a>
				</div>
			</div>
		</div>
		{% else %}
			<div class="small-12 medium-12 columns">
				{{page.page_content|richtext}}
			</div>
		{% endif %}
	</div>
</section>


<section class="gallery">
	<div class="row">
		<div class="small-12 columns">
			<h3 class="red-line bold title">Gallery</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">

			<div id="fame-slider" class="slider" >
				 {% for slide in page.fame_gallery.all %}

			      	{% image slide.image original as photo %}

			     	<a href="{{photo.url}}" data-fancybox data-caption="{{photo.alt}}">
						<img src="{{photo.url}}" alt="{{photo.alt}}" class="orbit-image">
					</a>
			    {% endfor %}

			</div>

		</div>
	</div>
	<div class="row">
		<div class="small-12 columns text-center">
		<h5 class="bold">{{page.gallery_caption}}</h5>
		</div>
	</div>
</section>




<section class="sponsors">
	<div class="row">
		<div class="small-12 columns">
			<h3 class="red-line bold black title">{{page.sponsors_caption}}</h3>
		</div>
	</div>
	<div class="row small-up-6">

		 {% for slide in page.fame_sponsors.all %}

	     <div class="column column-block">
	     	{% image slide.image fill-150x150 %}
	    </div>
	    {% endfor %}


	</div>
	<div class="row">
		<div class="small-12 columns text-center">
		<h5 class="bold">{{page.gallery_caption}}</h5>
		</div>
	</div>
</section>


{% endblock %}
