{% extends "base.html" %}

{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block title %}{{job.title}}{% endblock %}

{% block body_class %}template-job-detail{% endblock %}

{% block content %}

<section class="page-header">
	<div class="row">
		<div class="small-12 columns">
			<h2 id="page-heading" class="bold red-line">{{job.title}}</h2>
		</div>
	</div>
</section>



<section class="body-content">
	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="callout">
				<p><b>Title:</b> {{job.title}}</p>
				<p><b>Job Type:</b> {{job.job_type}}</p>
				<p><b>Location:</b> {{job.location}}</p>
				<p><b>Website:</b> {{job.website}}</p>
				<p><b>Organization:</b> {{job.organization}}</p>
				<p><b>Start Date:</b> {{job.start_date|date:'d/m/Y'}}</p>
				<p><b>Expiration Date:</b> {{job.expiration_date|date:'d/m/Y'}}</p>
			</div>
		</div>

		<div class="small-12 medium-6 columns">
			<div class="callout">
				<h5>Job Description</h5>
				{{job.description}}
			</div>
		</div>
	</div>
</section>

{% endblock %}
