{% extends "base.html" %}

{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block title %}{{page.title}}{% endblock %}

{% block body_class %}template-contact{% endblock %}

{% block content %}

<section class="page-header">
	<div class="row">
		<div class="small-12 columns">
			<h2 id="page-heading" class="bold red-line">{{page.heading}}</h2>
		</div>
	</div>
</section>
	
<section class="body-content">
	<div class="row">
		<div class="small-12 columns">
			{{page.page_content|richtext}}
		</div>
	</div>
</section>

{% endblock %}