{% extends "base.html" %}

{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block title %}{{job.title}}{% endblock %}

{% block body_class %}template-job-detail{% endblock %}

{% block content %}

<section class="page-header">
	<div class="row">
		<div class="small-12 columns">
			<h2 id="page-heading" class="bold red-line">{{job.title}}</h2>
		</div>
	</div>
</section>
	


<section class="body-content">
	<div class="row">
		<div class="small-12 columns">
			{{job.description|richtext}}
		</div>
	</div>
</section>

{% endblock %}