{% extends "base.html" %}

{% load nav_tags static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-membership{% endblock %}

{% block content %}

<section class="page-header">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="red-line bold">{{page.heading}}</h2>
			<p>{{page.description}}</p>
		</div>
	</div>

</section>



<section class="spire-member-products">
	<div class="row">
		<div class="small-12 columns">
			<h3 class="red-line bold title">Become a SPIRE Member</h3>
		</div>
	</div>
	<div class="row" data-equalizer data-equalize-on="medium" >
		<div class="small-12 medium-4 columns">
			<div class="full-member product-block">
				<div class="product__title">
					<h5 class="bold">Full Membership
					{% if user.member.membership_level == page.full_membership_yearly.membership_level %}
						(Current)
					{% elif user.member.membership_level == page.full_membership_5_years.membership_level %}
						(Current)
					{% endif %}
					</h5>
				</div>
				<div class="product__content">
					<div class="text" data-equalizer-watch>
						<p>{{page.full_membership}}</p>



					</div>
					<div class="membership-pricing">
						<h3><sup>$</sup>75<sup class="sub">/ year</sup></h3>
						<h3 class="divider"><sup>$</sup>299<sup class="sub">/ year</sup></h3>
					</div>
					<a class="button button-green expanded"  href="{% url 'checkout:membership-add' %}?product_id={{page.full_membership_yearly.id}}">Choose 1 year - $75</a>

					<a class="button button-green expanded" href="{% url 'checkout:membership-add' %}?product_id={{page.full_membership_5_years.id}}">Choose 5 years - $299</a>

				</div>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="full-member product-block">
				<div class="product__title">
					<h5 class="bold">Full Young Alumni Membership {% if user.member.membership_level == page.full_young_yearly.membership_level %}
						(Current)
					{% endif %}
					</h5>
				</div>
				<div class="product__content">
					<div class="text" data-equalizer-watch>
						<p>{{page.full_young_membership}}</p>


					</div>

					<div class="membership-pricing">
							<h3><sup>$</sup>50<sup class="sub">/ year</sup></h3>
						</div>
					<a class="button button-green expanded"  href="{% url 'checkout:membership-add' %}?product_id={{page.full_young_yearly.id}}">Choose this membership</a>

				</div>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="full-member product-block">
				<div class="product__title">
					<h5 class="bold">Full Friends of SPIRE Membership {% if user.member.membership_level == page.full_friends_yearly.membership_level %}
						(Current)
					{% endif %}</h5>
				</div>
				<div class="product__content" >
					<div class="text" data-equalizer-watch>
						<p>{{page.full_friends_membership}}</p>
						<div class="membership-pricing">
								<h3><sup>$</sup>95<sup class="sub">/ year</sup></h3>
							</div>
					</div>

					<a class="button button-green expanded"  href="{% url 'checkout:membership-add' %}?product_id={{page.full_friends_yearly.id}}">Choose this membership</a>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<h3 class="red-line bold title">Not ready to join as a Full Member? Become a Guest member</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="full-member product-block">
				<div class="product__title">
					<h5 class="bold">Guest Membership</h5>
				</div>
				<div class="product__content">
					<div class="short-text">
						<p>{{page.guest_membership}}</p>

					</div>

					<a class="button button-green expanded"  href="/accounts/register">Choose this Membership</a>

				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="full-member product-block">
				<div class="product__title">
					<h5 class="bold">Student Membership</h5>
				</div>
				<div class="product__content">
					<div class="short-text">
						<p>{{page.student_membership}}</p>
					</div>
					<a class="button button-green expanded"  href="{% url 'checkout:membership-add' %}?product_id={{page.full_friends_yearly.id}}">Choose this Membership</a>

				</div>
			</div>
		</div>
	</div>

</section>


<section class="member-benefits">
	<div class="row">
		<div class="small-12 columns">
			<h3 class="red-line bold title">Benefits of Full Membership</h3>
		</div>
	</div>
	<div class="row">

		{% for benefit in page.membership_benefits.all %}
			<div class="small-12 mediumn-6 columns benefit">
				<h4 class="icon"><span class="fa {{benefit.icon_class}}"></span></h4>
				<h4 class="text bold">{{benefit.text}}</h4>
			</div>
		{% endfor %}

	</div>
</section>


<section class="member-people">
	<div class="row">
		<div class="small-12 columns">
			{% image page.people_image original %}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h3 class="red-line title">What People Are Saying</h3>
		</div>
	</div>
	<div class="row ">
		<div class="small-12 columns">
			{{page.people_review_one|richtext}}
		</div>
		<div class="small-12 columns">
			{{page.people_review_two|richtext}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-10 medium-offset-1 columns closing">
			{{ page.member_closing|richtext }}
		</div>
	</div>
</section>


{% endblock %}
