{% extends "base.html" %}

{% load nav_tags static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-events-overview{% endblock %}

{% block content %}


<section class="page-header">
	<div class="row">
		<div class="small-12 medium-10 medium-offest-1 columns">
			<h2 id="page-heading" class="bold red-line">{{page.heading}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-10 medium-offest-1 columns">
			{{page.page_content|richtext}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{% sub_page_nav parent=self.get_parent calling_page=self overview_name="Upcoming Events" %}
		</div>
	</div>
</section>



<section class="events">
	
	<div class="row"  >
		<div class="small-12 columns" >

			<div class="row small-up-2 medium-up-2 large-up-3">

				{% for event in past_events.all %}
					<div class=" column column-block">
						test
					</div>
			  	{% endfor %}
			</div>
		</div>
	</div>
</section>


{% endblock %}
