{% extends "base.html" %}

{% load nav_tags static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-srec-members{% endblock %}

{% block content %}


<section class="srec-header">
	<div class="row">
		<div class="small-12 medium-1 columns">
			<img src="{% static 'images/logos/SREC-LOGO.png' %}">
		</div>
		<div class="small-12 medium-11 columns">
			<h2 id="page-heading" class="bold red-line">{{page.heading}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">

			{% sub_page_nav parent=self.get_parent calling_page=self %}

		</div>
	</div>
</section>



<section class="page-content">
	<div class="row">
		<div class="small-12 columns">
			{{page.page_content|richtext}}
		</div>
	</div>
</section>


<section class="srec-members">
	<div id="members-row">
		<div  class="row small-up-2 medium-up-3 large-up-4" data-equalizer>
			 {% for member in srec_members.all %}
			  <div class="column column-block">
			  	<a data-open="member-{{forloop.counter}}">
			     <div class="member">
			     	<div class="member__image">
			     		<img src="{{member.image.url}}" width=350 >
			     	</div>
			     	<div class="member__info" data-equalizer-watch>
			     		<p class="red bold">{{member.full_name}} {{member.degree_string}}</p>
			     		<p class="bold">{{member.professional_information.title}}</p>
			     		<p>{{member.professional_information.company}}</p>
			     	</div>
			    </div>
			    </a>
		    </div>

			    <div class="large reveal" id="member-{{forloop.counter}}" data-reveal>
				    <button class="close-button" data-close aria-label="Close modal" type="button">
					    <span aria-hidden="true">&times;</span>
					 </button>
				    <div class="row">
					    <div class="small-6 columns">
					    <img src="{{member.image.url}}" width=450 >
					    </div>
					    <div class="small-6 columns">
					    	<h3 class="red-line bold">{{member.full_name}} {{member.degree_string}}</h3>
				     		<p class="bold">{{member.professional_information.title}}</p>
				     		<p>{{member.professional_information.company}}</p>
				     		<div class="bio">
				     		{{member.bio}}
				     		</div>
					    </div>
				    </div>
				</div>
		    {% endfor %}
		</div>
	</div>
</section>



{% endblock %}
