{% extends "base.html" %}

{% load nav_tags static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-srec-overview{% endblock %}

{% block content %}

<section class="srec-header">
	<div class="row">
		<div class="small-1 columns">
			<img src="{% static 'images/logos/SREC-LOGO.png' %}">
		</div>
		<div class="small-11 columns">
			<h2 id="page-heading" class="bold red-line">{{page.heading}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			
			{% get_site_root as site_root %}
			{% srec_menu parent=site_root calling_page=self %}

		</div>
	</div>
</section>
	

<section class="page-content">
	<div class="row">
		<div class="small-7 columns">
			{{page.page_content|richtext}}
		</div>
		<div class="small-5 columns upcoming-event">
			<div class="upcoming-event__content">
				<h3 class="white-line">SREC Upcoming Event</h3>
				<h6 style="padding-top: 25px;">{{page.event.start|date:'D d M Y g:i a'}}</h6>
				<h4 class="bold">{{page.event.title}}</h4>
				<p>{{page.event.description|truncatewords:30|richtext}}</p>
				<hr>
				<a href="/contact" class="button button-white expanded">Contact Us</a>
			</div>	
		</div>
	</div>
</section>


<section class="gallery">
	<div class="row">
		<div class="small-12 columns">
			<h3 class="red-line bold title">Gallery</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">

			<div id="srec-slider" class="slider" >
				 {% for slide in page.srec_gallery.all %}

			     <div >
			     	{% image slide.image fill-400x260 class="orbit-image" %}
			    </div>
			    {% endfor %}

			</div>

		</div>
	</div>
	<div class="row">
		<div class="small-12 columns text-center">
		<h5 class="bold">{{page.gallery_caption}}</h5>
		</div>
	</div>
</section>

	

{% endblock %}