.product-block{
	background-color: $lighter-brown;
	text-align: center;
	.product__title{

		background-color: $black;
		color: $white;
		padding-top: 17px;
		padding-bottom: 17px;
		h5{
			margin-bottom: 0px;
		}
	}
	.product__content{
		padding: 50px 30px 50px 30px;
		margin-bottom: 30px;
		.text{
			padding-bottom: 20px;
		}
		.short-text{
			padding-bottom: 20px;
		}
		}


}
